@import 'tailwindcss';

@theme {
	--breakpoint-tablet: 520px;
	--breakpoint-desktop: 960px;
}

* {
	font-family: 'Circular Std', sans-serif;
}

html {
	overflow-x: hidden;
}

:root {
	--white: #ffffff;
	--black: #000000;
	--gradient-blue: #006cef;
	--gradient-red: #ff2c2c;
	--gradient-orange: #ffa400;
}

.border-navbar-gradient {
	border-image: linear-gradient(
			to right,
			var(--gradient-blue),
			var(--gradient-red),
			var(--gradient-orange)
		)
		1;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(calc(-50% - 16px));
	}
}

.animate-scroll {
	animation: scroll 25s linear infinite;
}
